@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Oswald:700,400&subset=latin,cyrillic);

*:focus {
    outline:0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.header-container {
    padding-top: 25px;
    padding-bottom: 0px;
    margin: 0;
    overflow: hidden;
    background-color: rgb(224, 223, 222);
    border-bottom: 5px solid rgb(87, 86, 85);
}

.footer-container {
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-family: helvetica, serif;
    padding-top: 25px;
    padding-bottom: 50px;
    background-color: rgb(224, 223, 222);
}

#news-items-container {
    margin: 0;
    padding: 0;
    display: block;
    min-height: 400px;
}

.news-img {
    height: 70px;
    width: auto;
    margin-left: 80px;
    margin-right: 10px;
    vertical-align: bottom;
}

.not-found-container {
    text-align: center;
    margin: 50px;
    padding-top: 50px;
}

.not_found {
    font-size: 30px;
    font-family: helvetica, serif;
    color: rgba(87, 86, 85, 0.75);
}

.not_found_img {
    width: 200px;
    margin: 10px;
}

.hidden {
    display: none;
}

.page-title {
    display: inline-block;
    margin-top: 50px;
    font-size: 48px;
    font-weight: bold;
    font-family: helvetica, serif;
    text-align: left;
    color: rgba(87, 86, 85, 0.9);
    cursor: pointer;
    text-decoration: none;
}

.error-container {
    padding-top: 25px;
    padding-bottom: 43px;
    border-bottom: 5px solid rgb(87, 86, 85);
    background-color: rgb(224, 223, 222);
    overflow: hidden;
}

.error-text {
    font-family: helvetica, serif;
    color: red;
    margin: 50px 0 0;
    text-align: center;
    font-size: 30px;
    vertical-align: middle;
}

.error-text-message {
    margin: 15px 0 0;
    font-size: 20px;
}

.localization {
    display: inline-block;
    float: right;
    margin: 110px 0 0;
    padding: 0;
    width: auto;
}

.locale-button {
    float: right;
    background: rgb(224, 223, 222);
    border: none;
    margin: 0;
    color: rgb(87, 86, 85);
    font-family: helvetica, serif;
    padding: 10px 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.locale-button.active:hover {
    color: #ffffff;
    background-color: rgba(87, 86, 85, 0.1);
}

.locale-selected {
    color: #ffffff;
    background-color: rgb(87, 86, 85);
}

.text-title {
    display: inline-block;
    font-size: 18px;
    text-align: left;
    margin: 0 30px 0 0;
    font-family: helvetica, serif;
    padding: 10px;
}

.view-href {
    color: #4bb99a;
    text-decoration: none;
    cursor: pointer;
}

.view-href:hover {
    text-decoration: underline;
}

.news-signature {
    float: right;
    margin: 0;
    margin-left: 20px;
}

.news-content {
    margin: 0 8px;
    background: rgb(87, 86, 85);
    color: #ffffff;
    font-size: 17px;
    font-family: 'Roboto Condensed', sans-serif;
    display: block;
    text-align: justify;
    padding: 20px 50px;
    word-break: break-all
}

.news-title {
    width: 800px;
    word-break: break-all;
    font-family: 'Roboto Condensed', sans-serif;
}

.news-author {
    width: 150px;
    word-break: break-all;
    font-family: 'Roboto Condensed', sans-serif;
}

.date-field {
    padding: 10px;
    width: 150px;
    display: inline-block;
    font-size: 16px;
    text-align: right;
    margin: 0 0 0 20px;
    font-family: 'Oswald', sans-serif;
    float: right;
}

.news-info-top {
    margin: 10px 0 5px;
    padding: 0;
    overflow: hidden;
    display: flex;
}

.news-info-bottom {
    margin: 10px 0 5px;
    padding: 0;
    overflow: hidden;
}

.news-item {
    margin: 20px 0;
    padding: 0 20px;
    border: 3px solid rgba(87, 86, 85, 0.1);
    overflow: hidden;
}

.news-border-block {
    border: 3px solid rgba(87, 86, 85, 0.1);
}

.news-block {
    margin: 70px 0 50px;
    min-height: 415px;
}

.news-text {
    margin: 0 -2px 20px;
}

.button {
    border: 1px solid rgb(87, 86, 85);
    background-color: #ffffff;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    color: rgb(87, 86, 85);
    font-family: helvetica, serif;
    padding: 10px 15px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    display: inline-block;
    cursor: pointer;
}

.button.active:hover {
    color: #ffffff;
    background-color: rgb(87, 86, 85);
}

.submit-comment-button {
    margin: 10px 0;
    float: right;
    border: 1px solid rgb(224, 223, 222);
}

.submit-comment-button:hover {
    border: 1px solid rgb(87, 86, 85);
}

.back-button {
    padding: 11px 16px;
    border-top: transparent;
    border-left: transparent;
    float: left;
    margin: -3px;
    height: 20px;
    width: 10px;
    background: url("../img/white-arrow.png") no-repeat;
    background-size: 50%;
    background-position: center;
    background-color: rgb(87, 86, 85);
    cursor: pointer;
}

.back-button:hover {
    background: url("../img/red_arrow.png") no-repeat;
    background-size: 50%;
    background-position: center;
    background-color: rgba(87, 86, 85, 0.9);
}

.navigation-button-left {
    border: 3px solid rgba(87, 86, 85, 0.1);
    margin: 0;
    float: left;
}

.navigation-button-right {
    border: 3px solid rgba(87, 86, 85, 0.1);
    margin: 0;
    float: right;
}

.navigation-form {
    margin: -3px;
    overflow: hidden;
}

.comment-container {
    margin-right: 500px;
    padding: 0 30px;
    display: block;
    min-width: 350px;
}

.comment-form {
    padding: 5px;
    overflow: hidden;
}

.comment-control {
    margin-right: 500px;
    display: block;
    overflow: hidden;
    padding: 5px 35px;
    min-width: 340px;
}

.date-span {
    text-align: left;
    font-size: 18px;
    font-family: helvetica, serif;
    padding: 5px;
    margin: 5px 0;
    border-left: 5px solid rgb(87, 86, 85);
}

.comment-text {
    background-color: rgb(224, 223, 222);
    color: rgb(87, 86, 85);
    font-size: 16px;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 0;
    word-break: break-all
}

.comment-area {
    resize: vertical;
    min-height: 100px;
    color: rgb(87, 86, 85);
    font-size: 16px;
    padding: 20px;
    margin-bottom: 20px;
    font-family: helvetica, serif;
    border: 1px solid rgb(224, 223, 222);
    width: 100%;
    -webkit-box-sizing: border-box;
}

.comment-area:hover {
    border: 1px solid rgba(87, 86, 85, 0.3);
}


input[type=checkbox] {
    display: none;
}

input[type=radio] {
    display: none;
}

.news-info-padding {
    padding: 0 40px 0 35px;
}

.checkbox-label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    margin-left: 5px;
    font-size: 14px;
    font-family: helvetica, serif;
}

.checkbox-label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-radius: 1px;
    background-color: rgb(224, 223, 222);
}

input[type=checkbox]:checked + .checkbox-label:before {
    content: "\2713";
    font-family: helvetica, serif;
    font-size: 15px;
    color: rgb(224, 223, 222);
    text-align: center;
    line-height: 15px;
    background-color: rgb(87, 86, 85);
}


/* DEMO */

.select-title {
    margin: 0;
    font-family: helvetica, serif;
    text-align: left;
    padding: 3px 0;
    color: rgb(87, 86, 85);
    font-size: 16px;
}

.wrapper-dropdown-2 {
    border: 1px solid rgb(87, 86, 85);
    position: relative;
    display: inline-block;
    width: 200px;
    padding: 10px 15px;
    margin: 0;
    background: #fff;
    border-left: 5px solid rgb(87, 86, 85);
    cursor: pointer;
    vertical-align: top;
}


.wrapper-dropdown-2 .dropdown-select {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: -5px;
    padding-left: 0;
    border-left: 5px solid rgb(87, 86, 85);
    right: 0px;
    /* Styles */
    background: white;
    -webkit-transition: all 0.05s;
    -moz-transition: all 0.05s;
    -ms-transition: all 0.05s;
    -o-transition: all 0.05s;
    transition: all 0.05s;
    list-style: none;
    /* Hiding */
    opacity: 0;
    pointer-events: none;
    overflow: auto;
    height: 184px;
}
.wrapper-dropdown-2 .dropdown-select li label {
    display: block;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    margin: 0;
    font-family: helvetica, serif;
    text-align: left;
    padding: 3px;
    padding-left: 10px;
    color: rgb(87, 86, 85);
    font-size: 15px;
}

.wrapper-dropdown-2 .dropdown-select li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

.dropdown-select label {
    cursor: pointer;
}
/* Hover state */
.wrapper-dropdown-2 .dropdown-select li:hover label {
    color: white;
    background-color: rgb(87, 86, 85);
}
/* Active state */
.wrapper-dropdown-2.active:after {
    border-width: 0 6px 6px 6px;
}
.wrapper-dropdown-2.active .dropdown-select {
    opacity: 1;
    pointer-events: auto;
}

.dropdown {
    display: inline-block;
    text-align: left;
    vertical-align: bottom;
    margin: 0 5px;
}

a {
    color:rgb(87, 86, 85);
}
.dropdown dd, .dropdown dt {
    margin:0px;
    padding:0px;
}
.dropdown ul {
    margin: -1px 0 0 0;
}
.dropdown dd {
    position:relative;
}
.dropdown a,
.dropdown a:visited {
    color:rgb(87, 86, 85);
    text-decoration:none;
    outline:none;
    font-size: 16px;
    font-family: helvetica, serif;
}
.dropdown dt a {
    background-color:#ffffff;
    display:block;
    padding: 10px 20px 5px 10px;
    min-height: 30px;
    line-height: 25px;
    overflow: hidden;
    border: 1px solid rgb(87, 86, 85);
    border-left: 5px solid rgb(87, 86, 85);
    width:250px;
}
.dropdown dt a span, .multiSel span {
    cursor:pointer;
    display:inline-block;
    padding: 0;
}
.dropdown dd ul {
    background-color: #ffffff;
    border-left: 5px solid rgb(87, 86, 85);
    color:rgb(87, 86, 85);
    display:none;
    left:0;
    padding: 0;
    position:absolute;
    width:280px;
    list-style:none;
    height: 190px;
    overflow-y: scroll;
    margin-top: 15px;
}

.dropdawn li {
    padding:10px;
}

.checkbox li {
    padding: 3px 0;
    margin: 0;
}

.checkbox li:hover {
    background-color: rgb(87, 86, 85);
    color: white;
}

.dropdown span.value {
    display:none;
}
.dropdown dd ul li a {
    padding:5px;
    display:block;
}
.dropdown dd ul li a:hover {
    background-color:#fff;
}

.select-span-style {
    background-color: rgba(87, 86, 85, 0.1);
    margin: 0 2px;
    border: 1px solid white;
    border-radius: 5%;
}

.news-button-disabled {
    background-color: #ffffff;
    color: red;
    border: 1px solid red;
}

.news-message-button-disabled {
    background-color: white;
}

.alert-message {
    color: red;
    font-family: helvetica, serif;
    margin: -10px 20px;
    padding: 1px;
}

.page-number {
    border: 1px solid rgb(87, 86, 85);
    background-color: rgba(224, 223, 222, 0.3);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    color: red;
    font-family: helvetica, serif;
    padding: 10px 15px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    display: inline-block;
    margin: 0;
}

.navigation-container {
    text-align: center;
}

.criteria-container {
    display: block;
    padding: 10px;
    text-align: center;
}

.news-container {
    padding: 30px 0;
    background-color: white;
    flex-grow: 999;
}

.page-container {
    position: relative;
    min-width: 710px;
    max-width: 900px;
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    display: block;
}

#filter-button {
    padding: 13px 15px;
}

#reset-button {
    padding: 13px 15px;
}

.hidden {
    display: none;
}


