@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Oswald:700,400&subset=latin,cyrillic);

* {
    outline:0;
}

*:focus {
    outline:0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.header-container {
    padding-top: 25px;
    padding-bottom: 0;
    margin: 0;
    overflow: hidden;
    background-color: rgb(224, 223, 222);
    border-bottom: 5px solid rgb(87, 86, 85);
}

.footer-container {
    text-align: center;
    font-size: 16px;
    font-family: helvetica, serif;
    padding-top: 25px;
    padding-bottom: 50px;
    background-color: rgb(224, 223, 222);
}

#news-items-container {
    margin: 0;
    padding: 0;
    display: block;
    min-height: 400px;
    overflow: hidden;
}

.news-img {
    height: 70px;
    width: auto;
    margin-left: 80px;
    margin-right: 10px;
    vertical-align: bottom;
}

.not-found-container {
    text-align: center;
    margin: 50px;
    padding-top: 50px;
}

.not_found {
    font-size: 30px;
    font-family: helvetica, serif;
    color: rgba(87, 86, 85, 0.75);
}

.not_found_img {
    width: 200px;
    margin: 10px;
}

.hidden {
    display: none;
}

.page-title {
    display: inline-block;
    margin-top: 50px;
    font-size: 48px;
    font-weight: bold;
    font-family: helvetica, serif;
    text-align: left;
    color: rgba(87, 86, 85, 0.9);
    cursor: pointer;
    text-decoration: none;
}

.error-container {
    padding-top: 25px;
    padding-bottom: 43px;
    border-bottom: 5px solid rgb(87, 86, 85);
    background-color: rgb(224, 223, 222);
    overflow: hidden;
}

.error-text {
    font-family: helvetica, serif;
    color: red;
    margin: 50px 0 0;
    text-align: center;
    font-size: 30px;
    vertical-align: middle;
}

.error-text-message {
    margin: 15px 0 0;
    font-size: 20px;
}

.localization {
    display: inline-block;
    float: right;
    margin: 97px 0 0;
    padding: 0;
    width: auto;
}

.locale-button {
    float: right;
    background: rgb(224, 223, 222);
    border: none;
    margin: 0;
    color: rgb(87, 86, 85);
    font-family: helvetica, serif;
    padding: 10px 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.locale-button.active:hover {
    color: #ffffff;
    background-color: rgba(87, 86, 85, 0.1);
}

.locale-selected {
    color: #ffffff;
    background-color: rgb(87, 86, 85);
}

.text-title {
    display: inline-block;
    font-size: 18px;
    text-align: left;
    margin: 0 30px 0 0;
    font-family: helvetica, serif;
    padding: 10px;
}

.view-href {
    color: red;
    text-decoration: none;
}

.view-href:hover {
    text-decoration: underline;
}

.edit-href {
    color: #4bb99a;
}

.news-signature {
    float: right;
    margin: 0 0 0 20px;
}

.news-content {
    margin: 0 8px;
    background: rgb(87, 86, 85);
    color: #ffffff;
    font-size: 17px;
    font-family: 'Roboto Condensed', sans-serif;
    display: block;
    text-align: justify;
    padding: 20px 50px;
    word-break: break-all
}

.news-title {
    width: 800px;
    word-break: break-all;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
}

.news-author {
    width: 150px;
    word-break: break-all;
    font-family: 'Roboto Condensed', sans-serif;
}

.date-field {
    padding: 10px;
    width: 150px;
    display: inline-block;
    font-size: 16px;
    text-align: right;
    margin: 0 0 0 20px;
    font-family: 'Oswald', sans-serif;
    float: right;
}

.news-info-top {
    margin: 10px 0 5px;
    padding: 0;
    overflow: hidden;
    display: flex;
}

.news-info-bottom {
    margin: 10px 0 5px;
    padding: 0;
    overflow: hidden;
}

.news-item {
    margin: 20px 0;
    padding: 0 20px;
    border: 3px solid rgba(87, 86, 85, 0.1);
    overflow: hidden;
}

.news-border-block {
    border: 3px solid rgba(87, 86, 85, 0.1);
}

.news-block {
    margin: 70px 0 50px;
    min-height: 415px;
}

.news-text {
    margin: 0 -2px 20px;
}

.button {
    border: 1px solid rgb(87, 86, 85);
    margin: 0;
    background-color: #ffffff;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    color: rgb(87, 86, 85);
    font-family: helvetica, serif;
    padding: 10px 15px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    display: inline-block;
    cursor: pointer;
}

.button.active:hover {
    color: #ffffff;
    background-color: rgb(87, 86, 85);
}

.submit-comment-button {
    margin: 10px 0;
    float: right;
    border: 1px solid rgb(224, 223, 222);
}

.submit-comment-button:hover {
    border: 1px solid rgb(87, 86, 85);
}

.back-button {
    padding: 11px 16px;
    border-top: transparent;
    border-left: transparent;
    float: left;
    margin: -3px;
    height: 20px;
    width: 10px;
    background: url("../img/white-arrow.png") no-repeat;
    background-size: 50%;
    background-position: center;
    background-color: rgb(87, 86, 85);
    cursor: pointer;
}

.back-button:hover {
    background: url("../img/red_arrow.png") no-repeat;
    background-size: 50%;
    background-position: center;
    background-color: rgba(87, 86, 85, 0.9);
}

.navigation-button-left {
    border: 3px solid rgba(87, 86, 85, 0.1);
    margin: 0;
    float: left;
}

.navigation-button-right {
    border: 3px solid rgba(87, 86, 85, 0.1);
    margin: 0;
    float: right;
}

.navigation-form {
    margin: -3px;
    overflow: hidden;
}

.comment-container {
    margin-right: 500px;
    padding: 0 30px;
    display: block;
    min-width: 350px;
}

.comment-form {
    padding: 5px;
    overflow: hidden;
}

.comment-control {
    margin-right: 500px;
    display: block;
    overflow: hidden;
    padding: 5px 35px;
    min-width: 340px;
}

.date-span {
    text-align: left;
    font-size: 18px;
    font-family: helvetica, serif;
    padding: 5px;
    margin: 5px 0;
    border-left: 5px solid rgb(87, 86, 85);
}

.comment-text {
    background-color: rgb(224, 223, 222);
    color: rgb(87, 86, 85);
    font-size: 16px;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 0;
    word-break: break-all
}

.comment-area {
    resize: vertical;
    min-height: 100px;
    color: rgb(87, 86, 85);
    font-size: 16px;
    padding: 20px;
    margin-bottom: 20px;
    font-family: helvetica, serif;
    border: 1px solid rgb(224, 223, 222);
    width: 100%;
    -webkit-box-sizing: border-box;
}

.comment-area:hover {
    border: 1px solid rgba(87, 86, 85, 0.3);
}


.checkbox input[type=checkbox] {
    display: none;
}

.news-info-padding {
    padding: 0 40px 0 35px;
}

.checkbox label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    margin-left: 5px;
    font-size: 14px;
    font-family: helvetica, serif;
}

.checkbox label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-radius: 1px;
    background-color: rgb(224, 223, 222);
}

input[type=checkbox]:checked + .checkbox-label:before {
    content: "\2713";
    font-family: helvetica, serif;
    font-size: 15px;
    color: rgb(224, 223, 222);
    text-align: center;
    line-height: 15px;
    background-color: rgb(87, 86, 85);
}

.select-title {
    margin: 0;
    font-family: helvetica, serif;
    text-align: left;
    padding: 3px 0;
    color: rgb(87, 86, 85);
    font-size: 16px;
}

.wrapper-dropdown-2 {
    border: 1px solid rgb(87, 86, 85);
    position: relative;
    display: inline-block;
    width: 183px;
    padding: 10px 15px;
    background: #fff;
    border-left: 5px solid rgb(87, 86, 85);
    cursor: pointer;
    vertical-align: top;
}


.wrapper-dropdown-2 .dropdown-select {
    position: absolute;
    top: 100%;
    left: -5px;
    padding-left: 0;
    border-left: 5px solid rgb(87, 86, 85);
    right: 0;
    background: white;
    -webkit-transition: all 0.05s;
    -moz-transition: all 0.05s;
    -o-transition: all 0.05s;
    transition: all 0.05s;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    overflow: auto;
    height: 184px;
}
.wrapper-dropdown-2 .dropdown-select li label {
    display: block;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    margin: 0;
    font-family: helvetica, serif;
    text-align: left;
    padding: 3px 3px 3px 10px;
    color: rgb(87, 86, 85);
    font-size: 15px;
}

.wrapper-dropdown-2 .dropdown-select li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

.dropdown-select label {
    cursor: pointer;
}

.wrapper-dropdown-2 .dropdown-select li:hover label {
    color: white;
    background-color: rgb(87, 86, 85);
}

.wrapper-dropdown-2.active:after {
    border-width: 0 6px 6px 6px;
}
.wrapper-dropdown-2.active .dropdown-select {
    opacity: 1;
    pointer-events: auto;
}

.dropdown {
    display: inline-block;
    text-align: left;
    vertical-align: bottom;
    margin: 0 5px;
    width: 250px;
}

a {
    color:rgb(87, 86, 85);
}
.dropdown dd, .dropdown dt {
    margin:0;
    padding:0;
}
.dropdown ul {
    margin: -1px 0 0 0;
}
.dropdown dd {
    position:relative;
}
.dropdown a,
.dropdown a:visited {
    color:rgb(87, 86, 85);
    text-decoration:none;
    outline:none;
    font-size: 16px;
    font-family: helvetica, serif;
}
.dropdown dt a {
    background-color:#ffffff;
    display:block;
    padding: 8px 20px 5px 8px;
    min-height: 32px;
    line-height: 24px;
    overflow: hidden;
    border: 1px solid rgb(87, 86, 85);
    border-left: 5px solid rgb(87, 86, 85);
    width: 222px;
}

.select-span-style {
    background-color: rgba(170, 169, 168, 0.1);
    margin: 0 2px;
    border: 1px solid white;
    border-radius: 8%;
}

.hida {
    cursor:pointer;
    display:inline-block;
    padding: 1px 8px;
    margin: 3px 2px;
    word-break: break-all;
}

.dropdown dd ul {
    background-color: #ffffff;
    border-left: 5px solid rgb(87, 86, 85);
    color:rgb(87, 86, 85);
    display:none;
    left:0;
    padding: 0;
    position:absolute;
    width:250px;
    list-style:none;
    height: 190px;
    overflow-y: scroll;
    margin-top: 15px;
}

.dropdawn li {
    padding:10px;
}

.checkbox li {
    padding: 3px 0;
    margin: 0;
}

.checkbox li:hover {
    background-color: rgb(87, 86, 85);
    color: white;
}

.dropdown span.value {
    display:none;
}
.dropdown dd ul li a {
    padding:5px;
    display:block;
}
.dropdown dd ul li a:hover {
    background-color:#fff;
}

.news-button-disabled {
    background-color: #ffffff;
    color: red;
    border: 1px solid red;
}

.news-message-button-disabled {
    background-color: white;
}

.alert-message {
    color: red;
    font-family: helvetica, serif;
    margin: -10px 20px;
    padding: 1px;
}

.page-number {
    border: 1px solid rgb(87, 86, 85);
    background-color: rgba(224, 223, 222, 0.3);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    color: red;
    font-family: helvetica, serif;
    padding: 11px 17px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    display: inline-block;
    margin: 0;
}

.navigation-container {
    text-align: center;
}

.criteria-container {
    display: block;
    padding: 10px;
    text-align: center;
}

.news-container {
    margin: 30px 0;
    flex-grow: 999;
    background-color: white;
}

.logout {
    margin-top: -25px;
}

.logout label {
    color: rgb(87, 86, 85);
    font-family: helvetica, serif;
    padding: 5px;
    font-size: 18px;
}

.margin-plus {
    margin-top: 110px;
}

.right-header-part {
    float: right;
}

.href {
    text-decoration: none;
}

.href:hover {
    color: #6396e1;
    text-decoration: underline;
}

#logout {
    float: right;
    padding: 11px 16px;
    border: none;
    height: 38px;
    width: 45px;
    background: url("../img/logout.png") no-repeat;
    background-size: 40%;
    background-position: center;
    background-color: rgba(87, 86, 85, 0.7);
    cursor: pointer;
    transition-duration: 0.9s;
}

#logout:hover {
    background: url("../img/logout-hover.png") no-repeat;
    background-size: 25%;
    background-position: center;
    background-color: rgb(87, 86, 85);
    width: 85px;
}

.comment {
    position: relative;
}

.delete-comment-button {
    border: none;
    position: absolute;
    top:0;
    right: 0;
    background: url("../img/delete-unactive.png") no-repeat;
    background-size: 40%;
    background-position: center;
    padding: 6px 15px;
}

.delete-comment-button:hover {
    background: url("../img/delete.png") no-repeat;
    background-size: 40%;
    background-position: center;
    background-color: rgb(87, 86, 85);
}

.delete-button {
    float: right;
    border: 3px solid rgba(224, 223, 222, 0.5);
    background: url("../img/delete-unactive.png") no-repeat;
    background-size: 40%;
    background-position: center;
    padding: 11px 20px;
}

.delete-button:hover {
    border-color: transparent;
    background: url("../img/delete.png") no-repeat;
    background-size: 40%;
    background-position: center;
    background-color: rgb(87, 86, 85);
}

.delete-checkbox {
    float: right;
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 8px;
}

.delete-checkbox > input[type="checkbox"] {
    visibility: hidden;
}

.delete-checkbox > input[type="checkbox"] + span {
    content: "";
    border: 1px solid rgba(87, 86, 85, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    height: 98%;
    width: 98%;
}

.delete-checkbox > input[type="checkbox"]:checked + span {
    background: url("../img/check.png") no-repeat;
    background-size: 50%;
    background-position: center;
    background-color: white;
    border-color: red;
}

.sidebar {
    display: block;
    position: absolute;
    top:175px;
    left: -230px;
    padding-top: 10px;
    background-color: rgba(87, 86, 85, 0.9);
    border-right: 5px solid rgb(236, 235, 234);
    width: 200px;
    height: 350px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-href {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    min-height: 40px;
    background-color: transparent;
    border-left: 3px solid transparent;
    color: #ffffff;
    font-family: helvetica, serif;
    font-size: 20px;
    font-weight: bold;
}

.sidebar-href:hover {
    color: rgb(87, 86, 85);
    background-color: rgb(236, 235, 234);
    border-left-color: #4bb99a;
}

.sidebar-active {
    color: white;
    background-color: #4bb99a;
    margin-right: -4px;
    border-right: 4px solid rgb(87, 86, 85);
}

.page-container {
    position: relative;
    min-width: 680px;
    max-width: 800px;
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    display: block;
}

.authorization-container {
    color: rgb(87, 86, 85);
    margin: 30px 0;
    padding: 150px 0;
    flex-grow: 999;
    text-align: center;
    background: url("../img/security.png") no-repeat;
    background-size: 45%;
    background-position: center;
    transition-duration: 0.5s;
}

.authorization {
    background-color: rgba(87, 86, 85, 0.1);
    padding: 40px;
    border-left: 5px solid rgb(87, 86, 85);
    border-right: 5px solid rgb(87, 86, 85);
}

.authorization-row {
    display: block;
    margin: 10px;
    text-align: center;
    font-size: 16px;
    font-family: helvetica, serif;
    padding-right: 10px;
}

.authorization-row label {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    text-align: right;
    width: 70px;
    color: rgb(224, 223, 222);
}

.authorization input[type="submit"] {
    margin-top: 15px;
    border: 1px solid transparent;
}

.authorization input[type="submit"]:hover {
    background-color: rgb(87, 86, 85);
    color: white;
    border-color: rgb(224, 223, 222);
}

.edit-container {
    margin: 30px 0;
    padding: 30px 0 40px;
    flex-grow: 999;
    border: 3px solid rgba(87, 86, 85, 0.1);
}

.add-news-container {
    margin: 30px 0;
    padding: 30px 0 10px;
    flex-grow: 999;
    background-color: white;
    border: 3px solid rgba(87, 86, 85, 0.1);
}

.add-news-container form {
    background-color: rgb(87, 86, 85);
    margin: 0 -3px;
}

.field-row {
    display: block;
    text-align: left;
    margin: 10px 70px;
}

.clear-background {
    background-color: white;
    padding: 20px;
    border-left: 3px solid rgba(87, 86, 85, 0.1);
    border-right: 3px solid rgba(87, 86, 85, 0.1);
}

.align-right {
    text-align: right;
}

.margin-left {
    margin-left: 20px;
}

#title {
    width: 65%;
    min-width: 300px;
}

#date {
    width: 65%;
    min-width: 300px;
}

.text-input {
    color: rgb(87, 86, 85);
    display: inline-block;
    border: 1px solid rgb(87, 86, 85);
    padding: 10px 20px;
    font-size: 16px;
    font-family: helvetica, serif;
}

.tag-name {
    min-width: 100px;
    width: 50%;
    transition-duration: 0.7s;
}

.change-width {
    width: 35%;
}

.tag-box {
    padding: 10px 100px;
    margin: 0 -3px;
    transition-duration: 0.7s;
}

.change-padding {
    padding: 10px 50px;
}

.edit-tags {
    background-color: rgba(87, 86, 85, 0.1);
    padding: 20px 0;
}

.add-tag {
    margin: 0 -3px 50px;
    padding: 30px 100px;
    background-color: rgb(87, 86, 85);
}

.save-tag-button {
    margin: 0 20px;
}

.save-tag-button:hover {
    background-color: rgb(145, 144, 143);
    color: white;
}

.first-edit-button {
    margin-left: 20px;
}


.edit-button {
    border: 1px solid rgb(87, 86, 85);
}

.edit-button:hover {
    background-color: rgba(245, 245, 245, 0.91);
}

.text-label {
    display: inline-block;
    color: rgb(235, 234, 233);
    font-size: 18px;
    font-weight: bold;
    font-family: helvetica, serif;
    width: 100px;
    text-align: right;
    padding: 10px 20px 10px 10px;
    vertical-align: top;
}

.dark-label {
    color: rgb(87, 86, 85);
}

.field-row textarea {
    display: inline-block;
    min-height: 100px;
    color: rgb(87, 86, 85);
    font-size: 16px;
    padding: 20px;
    font-family: helvetica, serif;
    border: 1px solid rgb(87, 86, 85);
    width: 65%;
    min-width: 300px;
    resize: none;
}

#brief {
    min-height: 50px;
    max-height: 200px;
}

#content {
    max-height: 500px;
}

.save-button {
    margin-right: 145px;
}

.save-button:hover {
    background-color: rgb(87, 86, 85);
    color: white;
}

#filter-button {
    padding: 13px 15px;
}

#reset-button {
    padding: 13px 15px;
}

.tag-actions {
    display: inline;
}

.invalid-field {
    margin: 5px;
    display: block;
    color: #ff5566;
    font-family: helvetica, serif;
    font-size: 14px;
    text-align: center;
}

.result-div {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    padding-top: 200px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.result-window {
    border: 1px solid dimgray;
    background-color: rgb(87, 86, 85);
    vertical-align: middle;
    padding:20px;
    margin: 0 auto;
    width: 300px;
    height: 280px;
}

.failed-text {
    margin: 0;
    font-family: Helvetica, serif;
    font-size: 18px;
    color: white;
}

.success-img {
    display: block;
    width: auto;
    height: 70px;
    margin: 50px auto 20px;
}

.fix-width-dropdown {
    width: 200px;
    margin-left: 18px;
}

.fix-wrapper-dropdown-width {
    width: 150px;
}

.auth-field {
    border: 1px solid rgb(87, 86, 85);
    width: 200px;
    padding: 10px;
}

.invalid-auth-field {
    border: 1px solid #ff5566;
}

.hidden {
    display: none;
}


